# Java & Maven
target/
*.class
.mvn/
mvnw
mvnw.cmd

# IntelliJ specific
.idea/
*.iml
*.iws

# React / Frontend (Very Important!)
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env

# Database files
*.mv.db
*.trace.db

# OS junk
.DS_Store
Thumbs.db